nav ul{
    list-style: none; 
        li a{
            margin: 15px;
            padding: 15px;
            color: white;
            text-decoration: none;
            font-family: $fuenteNav;
            text-decoration: none;    
            text-transform: uppercase;
        }
}



